{
  "printWidth": 100,
  "tabWidth": 4,
  "endOfLine": "auto",
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": [
        "*.md",
        "*.json",
        "*.conf.js"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
